.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6); /* Fondo más oscuro para el modal */
}

.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 40px;
  border: 1px solid #ddd;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra más suave */
  animation: fadeIn 0.5s; /* Animación de entrada */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.input-group {
  margin: 20px 0;
}

.input-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #007BFF; /* Borde azul al enfocar */
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.product-item label {
  flex: 1;
  margin-right: 20px;
}

.product-item input[type="number"] {
  width: 80px;
  margin-left: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.table th, .table td {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  background-color: #007BFF; /* Color azul */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  display: inline-flex;
  align-items: center;
}

.btn:hover {
  background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
  transform: scale(1.05); /* Aumentar tamaño al pasar el ratón */
}

.btn .material-icons-outlined {
  margin-right: 8px; /* Separación entre icono y texto */
}

.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.search-container input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.search-container input:focus {
  border-color: #007BFF; /* Borde azul al enfocar */
}

.search-container button {
  padding: 8px 12px;
}

.btn-edit, .btn-delete {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.btn-edit .material-icons-outlined {
  color: #28a745; /* Verde para editar */
}

.btn-delete .material-icons-outlined {
  color: #dc3545; /* Rojo para eliminar */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-align-right {
  margin-left: auto;
}
